<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.study.chat.mapper.MessageMapper">

	<insert id="insertMessage" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO 
			messages(sender, chat_room_id) 
		VALUES (
			#{sender}, #{chatRoomId}
		)
	</insert>
	
	<insert id="insertText">
		INSERT INTO 
			message_text(message_id, content) 
		VALUES(
			#{id}, #{text}
		)
	</insert>
	
	<select id="selectMessageById" resultType="OutputMessage">
		SELECT 
		    msg.*, text.content AS text, file.path AS file
		FROM
		    messages msg
		        LEFT JOIN
		    message_text text ON msg.id = text.message_id
		        LEFT JOIN
		    message_file file ON msg.id = file.message_id
		WHERE 
			msg.id = #{id};
	</select>
	
	<select id="selectMessagesByChatRoomId" resultType="OutputMessage">
		SELECT 
		    msg.*, 
		    text.content AS text, 
		    file.path AS file,
		    users.id AS sender_id
		FROM
		    messages msg
		        LEFT JOIN
		    message_text text ON msg.id = text.message_id
		        LEFT JOIN
		    message_file file ON msg.id = file.message_id
			    LEFT JOIN
			users ON msg.sender = users.seq_id
		WHERE
			chat_room_id = #{chatRoomId}
		ORDER BY id
		LIMIT #{pageStart}, ${pageCount}
	</select>
	
	<select id="selectTotalCountOfMessageByChatRoomId" resultType="int">
		SELECT
			COUNT(*)
		FROM
			messages
		WHERE 
			chat_room_id = #{chatRoomId}
	</select>
</mapper>